@import "bootstrap";

body {
  padding-top: 60px;
}

.center {
  text-align: center;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid red;
    margin: 1em 0; padding: 0; }
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


table tr.evenrow {background-color: white; }
table tr.oddrow {background-color: rgb(238, 238, 238); }

.no-space [class*="span"] {
    margin-left: 10px;
}

//SideBar
#wrapper {overflow: hidden; position:relative;}
#content {width:686px; margin-right:10px; min-height:1200px;}
#sidebar {width:284px; padding:10px; background: #eee; position:absolute; right:0; top:0; text-align: left;margin-top:30px;}
      
#portamento_container {position:absolute; right:50px; top:30px;} /* take the absolute positioning of the sidebar */
#portamento_container #sidebar {}
#portamento_container #sidebar.fixed {position:fixed; right:auto; top:auto;} /* become fixed position, but reset the top and right values */

