// Place all the styles related to the Equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.close-btn { 
    border: 2px solid #c2c2c2;
    position: relative;
    padding: 2px 5px;
    top: -29px;
    background-color: #605F61;
    left: 652px; 
    border-radius: 20px;
}

.close-btn a {
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    
}
.close-btn a:hover {
  background-color:#605F61;
  border-radius: 25px;
}
